body {
  padding: 50px;
  color: white;
  background: linear-gradient( black, darkgray, black);
}

.grid {
  width: auto;
  margin: 20px 0;
  padding: 20px 0;
}

.row {
  margin: 0;
  padding: 0;
  height: 2vw;
}

.cell {
  margin: 0;
  padding: 0;
  line-height: 2vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  background-color: black;
  border: 1px solid gray;
}

.true {
  background-color: red;
}

button {
  font-size: 1em;
  color: white;
  background-color: #085D96;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px white;
  margin-right: 5px;
}
